/* すべての要素にスタイルを適用 */
*{
    /* 余白の調整 */
    margin: 0px;
    padding: 0px;
}
div{
    /* テキストを真ん中に配置指定 */
    text-align: center;
}
/* --- ヘッダー部分 ----------------------------------------------------------------------------------------------- */
header {
    /* 要素の背景色を指定 */
    background-color: #2f5597;
    /* 要素の高さを指定 */
    height: 6rem;
    /* 幅を指定 */
    width: 100%;
    /* ヘッダーを固定 */
    position: fixed;
    top: 0;
    left: 0;
}
.header {
    /* 横並びにする */
    display: block;
    /* 内側の幅を指定 */
    padding-top: 2rem;
}

.header-inner {
    /* 横並びにする */
    display: flex;
    justify-content: flex-end;
    /* 幅を指定 */
    width: 90%;
    /* 上下左右のマージンを個別に指定するプロパティ */
    margin: 0 auto;
}

.header-list {
    /* 横並びにする */
    display: flex;
    /* 子要素を上下中央で揃える指定 */
    align-items: center;
    /* 行や列の間のすき間(溝)を調整 */
    gap: 0 1.5rem;

    /* 文字の調整 */
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

li , ul , a{
    /* 点を消す */
    list-style:none;
    padding-left:0;
    text-decoration: none;
}

/*------------------------共通css-------------------------*/

footer{
    padding: 1rem 0;
    width: 100%;
    color: white;
    background-color: #203864;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
}


/*------------------------　枠のcss-------------------------*/
.edit-success-form{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #B4C7E7;
    width: 50%;
}
.edit-success-form-title{
    padding: 2px;
    color: white;
    background-color: #8FAADC;
}

/*------------------------user側「お申込み内容確認」画面のcss-------------------------*/
.requests{
text-align: center;
}
.lesson-img{
    padding: 0.5rem;
    box-sizing: border-box;
    width: 50%;
}
.requests-form{
    display: flex;
    gap: 20%;
}
.requests-p-left{
    text-align: left;
    width: 100px;
    margin-left: 70px;
}
.requests-form-time{
    display: flex;
    gap: 10%;
}
.requests-p{
    text-align: left;
}
.user-request-btns{
    display: flex;
}
.success-btn{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width:200px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #D2AB99;
    padding: 10px;
}
.back-btn{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 200px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #9DA2AB;
    padding: 10px;
}

