<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/adminRegister.css}">
</head>
<body>
    <header></header>
    <main>
    <form th:action="@{/admin/register/process}" method="post">
        <p class="content" id="contentLoginText">登録</p>
        <div class="content">
            <input type="text" name="userName" placeholder="ユーザー名" required>
        </div>
        <div class="content">
            <input type="password" name="password" placeholder="パスワード" required>
        </div>
        <div class="content">
            <input type="text" name="email" placeholder="メールアドレス" required>
        </div>
        <div class="content">
            <button>登録</button>
        </div>
        <div class="content"> 
            <a th:href="@{/admin/login}">アカウントがあるので、ログインします。</a>
        </div>
    </form>
    </main>
    <footer>
        <p id="end">©teamB</p>
    </footer>
</body>
</html>