<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座削除完了</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>logo</h1>
        </div>
        <ul class="logo-list">
            <li th:text="${adminName}"></li>
            <li><a th:href="@{/admin/course}">講座一覧</a></li>
            <li><a th:href="@{/admin/course/register}">講座登録</a></li>
            <li><a th:href="@{/admin/logout}">ログアウト</a></li>
        </ul>
    </header>
    <main>
        <div class="edit-success-form">
            <div class="edit-success-form-title">
                <h1>講座の削除が完了しました。</h1>
            </div>
            <div class="edit-success-btns">
                <button class="edit-success-btn3" onclick="location.href='/admin/course/edit'">講座削除を続ける</button>
                <button class="edit-success-btn2" onclick="location.href='/admin/course'">講座一覧へ戻る</button>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <small>&copy; TeamB</small>
        </div>
    </footer>
</body>
</html>