<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/coursesList.css}">
</head>
<body>
   <header>
    <ul>
        <li th:text="${adminName}"></li>
        <li><a th:href="@{/admin/course}">講座一覧</a></li>
        <li><a th:href="@{/admin/course/register}">講座登録</a></li>
        <li><a th:href="@{/admin/logout}">ログアウト</a></li>
    </ul>
   </header> 
   <main>
    <p>講座一覧</p>
    <ul>
        <li th:each="lesson:${lessonList}">
            <a th:href="@{/admin/course/edit/{lessonId}(lessonId=${lesson.lessonId})}">
                <img th:src="@{/course-img/{imagePath}(imagePath=${lesson.imageName})}" alt="">
               <div>
				 <p th:text="${lesson.lessonName}"></p><br>
                <p th:text="${lesson.lessonDetail}"></p>
				<p th:text="${lesson.lessonFee}"></p>
				</div>
            </a>
        </li>
    </ul>
   </main>
   <footer>
    <p id="end">©teamB</p>
   </footer>
</body>
</html>