<!DOCTYPE html>
<html lang="ea">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座登録</title>
    <link rel="stylesheet" th:href="@{/css/ren_styles.css}">
</head>

<body>
    <div class="header">
        <a href="#" th:text="${adminName}"></a>
        <a th:href="@{/admin/course}">講座一覧</a>
        <a th:href="@{/admin/course/register}">講座登録</a>
        <a th:href="@{/admin/logout}">ログアウト</a>
    </div>
    <h1>新規講座追加</h1>
    <div class="main">
        <form th:action="@{/admin/course/register/process}" method="post" enctype="multipart/form-data">
            <div class="form-main">
                <div class="form-group">
                    <label for="lessonName">講座名</label>
                    <input type="text" id="lessonName" name="lessonName" placeholder="xx講座">
                </div>
                <div class="form-group">
                    <label for="startTime">講座開始時間</label>
                    <input type="datetime-local" id="startTime" name="startTime">
                </div>
                <div class="form-group">
                    <label for="finishTime">講座終了時間</label>
                    <input type="datetime-local" id="finishTime" name="finishTime">
                </div>
                <div class="form-group">
                    <label for="lessonFee">講座の金額</label>
                    <input type="text" id="lessonFee" name="lessonFee" placeholder="円">
                </div>
                <div class="form-group">
                    <label for="imageName">講座画像</label>
                    <input type="file" id="imageName" name="imageName">
                </div>
                <div class="form-group">
                    <label for="lessonDetail">講座詳細</label>
                    <textarea id="lessonDetail" name="lessonDetail"></textarea>
                </div>
                <div class="form-button">
                    <button class="back-button" onclick="history.back();" type="button">戻る</button>
                    <button class="register-button">登録</button>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <small>Copyright &copy; Team B</small>
    </footer>
</body>

</html>