<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/user_login.css}">
    <title>ユーザーログイン画面</title>
</head>
<body>
    <!-- ヘッダー -->
    <header>

    </header>
    <!-- メイン -->
    <main>
        <div class="main">
            <p class="sign">ユーザーログイン</p>
            <form class="form1" th:action="@{/user/login/process}" method="post">
              <div>
                <input class="e-mail" type="text"  placeholder="メールアドレス" name="userEmail" id="userEmail" required>
              </div>
              <div>
                <input class="password" type="password"  placeholder="パスワード" name="password" id="password" required>
              </div>
              <div>
                <button class="login" >ログイン</button>
              </div>
              <div>
                <a class="register" th:href="@{/user/register}">新規作成はこちら</a>
              </div>  
            </form>
          </div>
    </main>
    <!-- フッター -->
    <footer>
        <div>
            <small>&copy; TeamB</small>
        </div>
    </footer>
</body>
</html>