<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/user_list.css}">
	<title>ユーザー登録画面</title>
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<nav class="header">
			<div class="header-inner">
				<ul class="header-list">
					<li class="listItem" th:text=${userName}></li>
					<li class="listItem"><a th:href="@{/user/course/all}">講座一覧</a></li>
					<li class="listItem"><a th:href="@{/user/cart}">カートへ</a></li>
					<li class="listItem"><a th:href="@{/user/history}">購入履歴</a></li>
					<li class="listItem"><a th:href="@{/user/login}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- メイン -->
	<main>
		<article>
			<p class="sign">講座一覧</p>
			<div class="main">
				<ul class="course">
					<li th:each="lesson:${lessonList}">
						<a th:href="@{/user/course/{lessonId}(lessonId=${lesson.lessonId})}">
							<img th:src="@{/course-img/{imagePath}(imagePath=${lesson.imageName})}" alt="">
							<div>
								<p th:text="${lesson.lessonName}"></p>
								<p th:text="￥ + ${lesson.lessonFee}"></p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</article>
	</main>
	<!-- フッター -->
	<footer>
		<div>
			<small>&copy; TeamB</small>
		</div>
	</footer>
</body>

</html>