<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申込手続き完了</title>
    <link rel="stylesheet" href="user_RequestSuccess.css">
</head>
<body>
    <header>
        <nav class="header">
            <div class="header-inner">
                <ul class="header-list">
					<li class="listItem" th:text="${userName}">ユーザー名(仮)</li>
															<li class="listItem"><a th:href="@{/user/course/all}">講座一覧</a></li>
															<li class="listItem"><a th:href="@{/user/cart}">カートへ</a></li>
															<li class="listItem"><a th:href="@{#}">購入履歴</a></li>
															<li class="listItem"><a th:href="@{/user/login}">ログアウト</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="edit-success-form">
            <div class="edit-success-form-title">
                <h2>申込手続き</h2>
            </div>
            <h1 class="request-success-text">申込手続きが完了しました。</h1>
            <div class="edit-success-btns">
                <button class="request-success-btn" onclick="location.href='/user/course/all'">講座一覧へ戻る</button>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <small>&copy; TeamB</small>
        </div>
    </footer>
</body>
</html>