<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>応募済み講座一覧</title>
    <link rel="stylesheet" th:href="@{/css/user_course_history.css}">
</head>
<body>
    <header>
        <nav class="header">
            <div class="header-inner">
                <ul class="header-list">
                    <li class="listItem" th:text="${userName}">ユーザー名(仮)</li>
                    <li class="listItem"><a th:href="@{/user/course/all}">講座一覧</a></li>
                    <li class="listItem"><a th:href="@{/user/cart}">カートへ</a></li>
                    <li class="listItem"><a th:href="@{/user/history}">購入履歴</a></li>
                    <li class="listItem"><a th:href="@{/user/login}">ログアウト</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="edit-success-form">
            <div class="edit-success-form-title">
                <h2>応募済み講座一覧</h2>
            </div>
            <article>
                <ul class="requests">
                    <li class="requests-li"  th:each="lesson:${lessonList}">
                        <img class="lesson-img" th:src="@{/course-img/{imagePath}(imagePath=${lesson.imageName})}" alt="">
                        <div class="requests-form-time">
                            <p class="requests-p-time" th:text="${lesson.startTime}"></p>
                            <p class="requests-p-time">~</p>
                            <p class="requests-p-time" th:text="${lesson.finishTime}"></p>
                        </div>
                        <div class="requests-form">
                            <p class="requests-p" th:text="${lesson.lessonDetail}"></p>
                        </div>
                        <div class="requests-form">
                            <p class="requests-p" th:text="${lesson.lessonFee}"></p>
                            <p class="requests-p">円</p>
                        </div>
                    </li>
                </ul>
            </article>
            <div class="user-request-btns">
                <button class="delete-btn">削除</button>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <small>&copy; TeamB</small>
        </div>
    </footer>
</body>
</html>