<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/user_cart.css">
	<title>ユーザー登録画面</title>
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<nav class="header">
			<div class="header-inner">
				<ul class="header-list">
					<li class="listItem" th:text="${userName}">ユーザー名(仮)</li>
					<li class="listItem"><a th:href="@{/user/course/all}">講座一覧</a></li>
					<li class="listItem"><a th:href="@{/user/cart}">カートへ</a></li>
					<li class="listItem"><a th:href="@{/user/history}">購入履歴</a></li>
					<li class="listItem"><a th:href="@{/user/login}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- メイン -->
	<main>
		<article>
			<p class="sign">カート一覧</p>
			<div class="main">
				<ul class="course">
					<li th:each="cart:${cartList}">
						<a th:href="@{/user/course/{lessonId}(lessonId=${cart.lessonId})}">
							<div class="course-list">
								<div class="course-img">
									<img th:src="@{/course-img/{imagePath}(imagePath=${cart.imageName})}" alt="">
								</div>
								<div class="frame">
									<div class="contents">
										<p th:text="${cart.lessonName}"></p><br>
										<p th:text="￥ + ${cart.lessonFee}"></p><br>
										<p th:text="${cart.lessonDetail}"></p>
									</div>
									<form th:action="@{/user/cart/process/delete}" method="post">
										<div>
											<input type="hidden" name="lessonId" th:value="${cart.lessonId}">
											<button class="delete">消去</button>
										</div>
									</form>
									
								</div>
							</div>
						</a>
						<form th:action="@{/user/cart/buyLesson/process}" method="post">
								<div>
										<input type="hidden" name="lessonId" th:value="${cart.lessonId}">
										<button class="purchase">購入</button>
								</div>
						</form>
					</li>
				</ul>
			</div>
		</article>
	</main>
	<!-- フッター -->
	<footer>
		<div>
			<small>&copy; TeamB</small>
		</div>
	</footer>
</body>

</html>