<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申込み内容確認</title>
    <link rel="stylesheet" href="user.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="#">ユーザー名</a>
            <a href="#">講座一覧</a>
            <a href="#">カート</a>
            <a href="#">購入履歴</a>
            <a href="#">ログアウト</a>            
        </div>
    </header>
    <main>
        <div class="edit-success-form">
            <div class="edit-success-form-title">
                <h2>講座名</h2>
            </div>
            <article>
                <ul class="requests">
                    <li class="requests-li" th:each="blog:${blogList}">
                        <div class="lesson-img-form">
                            <img class="lesson-img" th:src="@{/lesson-img/{imagePath}(imagePath=${lesson.imageName})}" alt="">
                            <img class="lesson-img" src="java.jpg" alt=""> <!--このimgはテスト用、実装する時を削除してください-->
                        </div>
                        <div class="requests-form">
                            <p class="requests-p-left">開催日:</p>
                            <p class="requests-p-date" th:text="${lesson.lessonDate}">0000/00/00(何曜日)</p>  <!--文字はテスト用、実装する時「123」を削除してください-->
                        </div>
                        <div class="requests-form">
                            <p class="requests-p-left">開催時間:</p>

                            <div class="requests-p-time-form">
                                <p class="requests-p-time" th:text="${lesson.startTime}">00:00</p>  <!--文字はテスト用、実装する時「13:00」を削除してください-->
                                <p class="requests-p-time">~</p>
                                <p class="requests-p-time" th:text="${lesson.finishTime}">00:00</p>  <!--文字はテスト用、実装する時「14:00」を削除してください-->
                            </div>
                        </div>
                        <div class="requests-form">
                            <p class="requests-p-left">講座内容:</p>
                            <p class="requests-p-detail" th:text="${lesson.lessonDetail}">Java</p>  <!--文字はテスト用、実装する時「Java」を削除してください-->
                        </div>
                        <div class="requests-form">
                            <p class="requests-p-left">受講料:</p>
                            <div class="requests-p-fee-form">
                                <p class="requests-p-fee" th:text="${lesson.lessonFee}">12800</p>  <!--文字はテスト用、実装する時「12800」を削除してください-->
                                <p class="requests-p-fee">円</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
            <div class="user-request-btns">
                <button class="back-btn" onclick="history.back();" type="button">戻る</button>
                <button class="success-btn">カートに入れる</button>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <small>&copy; TeamB</small>
        </div>
    </footer>
</body>
</html>